<nav class="navbar navbar-light navbar-expand-sm bg-primary">
    <div class="container">

        <!-- logo -->
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="./assets/images/logo-car12.png" alt="Vehicle">
            </a>
        </div>

        <a class="navbar-brand hm" routerLink="/home">Vehicle Management App</a>

        <a class="navbar-brand hm1" routerLink="/customer">Customers</a>

        <a class="navbar-brand hm1" routerLink="/booking">Bookings</a>

        <a class="navbar-brand hm1" routerLink="/vehicle">Vehicles</a>

        <a class="navbar-brand hm1" routerLink="/payment">Payments</a>

        <ul class="navbar-nav hm1">

            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">
                    Login
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/signup" routerLinkActive="active">
                    Sign up
                </a>
            </li>
        </ul>

    </div>
</nav>


<br>