<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container-fluid">
        <marquee direction="right" style="color:red;">** Welcome to Our Vehicle Management App **</marquee>
        <br>
        <br>

        <div class="hero-image">
            <div class="hero-text">
                <br><br><br><br><br><br><br>
                <h1 style="font-size:50px">Vehicle Management App</h1>
                <p>And How we can help You</p><br>
                <!--  <a href="#service">Click Here</a><br> -->
            </div>
        </div>
        <br><br>


        <h1 style="text-align: center;">Features</h1>
        <p><img id="img1" src="/assets/images/aac.jpg" alt="vehicle" style="width:300px;height:170px;margin-left:15px;"><br><br><br> We offer you best vehicles in the market with the all features like type of vehicles, type of category along with the driver.
            And the driver which are there are experienced and thay will provide full satisfaction with the driver. They will experienced you the ride towards places.</p>

        <br><br><br><br><br><br>

        <div class="service-container">
            <h1 id="service" name="service">Services </h1>
            <p>We offer....</p>
            <div class="responsive">
                <div class="service">
                    <img src="img/s1.jpg" alt="Cinque Terre" width="700" height="200">
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>


            <div class="responsive">
                <div class="service">
                    <img src="img/s2.jpg" alt="Forest" width="700" height="200">
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

            <div class="responsive">
                <div class="service">
                    <img src="img/s3.jpg" alt="Northern Lights" width="700" height="200">
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>
        </div>



    </div>
</body>

</html>